In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [3]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get('https://www.naukri.com/')

In [5]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('â€œData Scientist')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [9]:
# scraping job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [10]:
# scraping job location from the give page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [11]:
# Scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [12]:
# Scraping experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [13]:
# Make DataFrame for scrape data into information
import pandas as pd
df=pd.DataFrame({"Title":job_title,'Company Name':company_name,'Location':job_location,'Experience Required': experience_required})

In [14]:
df

Empty DataFrame
Columns: [Title, Company Name, Location, Experience Required]
Index: []