In [1]:
#!pip install selenium

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [4]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('â€œData Analyst')

In [7]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [8]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
# scraping job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [11]:
# scraping job location from the give page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
# Scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
# Scraping experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [14]:
import pandas as pd
df=pd.DataFrame({"Title":job_title,'Company Name':company_name,'Location':job_location,'Experience Required': experience_required})

In [15]:
df

,Title,Company Name,Location,Experience Required
0,Data Analyst,Maruti Suzuki,"Bangalore/Bengaluru, Gurgaon/Gurugram",2-5 Yrs
1,Data Analyst,Fabzen Technologies,Bangalore/Bengaluru,2-4 Yrs
2,Tech Data Analyst,Wipro,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",3-6 Yrs
3,Data Analyst,Target,Bangalore/Bengaluru,2-4 Yrs
4,Data Analyst,First American,Bangalore/Bengaluru,3-4 Yrs
5,Data Analyst,Nurture Software Solutions,Bangalore/Bengaluru,3-6 Yrs
6,Commercial Data Analyst,AMETEK Inc,Bangalore/Bengaluru,4-7 Yrs
7,Data Analyst,Brunel,Bangalore/Bengaluru,4-6 Yrs
8,Celonis & Salesforce Data Analyst,Hitachi Energy,"Bangalore/Bengaluru, Chennai",3-6 Yrs
9,Celonis & Salesforce Data Analyst,Hitachi Ltd.,Bangalore/Bengaluru,2-7 Yrs

In [16]:
len(job_title)

10

In [17]:
len( company_name)

10

In [18]:
len(experience_required)

10

In [19]:
len(job_location)

10