In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [3]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get('https://www.flipkart.com/')

In [5]:
sunglasses = driver.find_element(By.XPATH, '//input[@class="_3704LK"]')
sunglasses.send_keys('sneakers')

In [6]:
cancel_button= driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
cancel_button.click()

In [7]:
search= driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [8]:
Brand=[]
Product_Description=[]
Price=[]

In [9]:
# scraping Brand Name from the given page
start=0
end=3
for page in range(start,end):
    Brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags[0:100]:
        Brands=i.text
        Brand.append(Brands)
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [10]:
len(Brand)

120

In [11]:
# scraping Product Description from the given page
start=0
end=3
for page in range(start,end):
    Desc_tags= driver.find_elements(By.XPATH,'//a[contains(@class,"IRpwTa")]')
    for i in Desc_tags[0:100]:
        Description=i.text
        Product_Description.append(Description)
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [12]:
len(Product_Description)

120

In [13]:
# scraping Price from the given page
start=0
end=3
for page in range(start,end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        prices=i.text
        Price.append(prices)
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [14]:
len(Price)

120

In [15]:
# Make DataFrame for scrape data into information
import pandas as pd
df=pd.DataFrame({"Brand":Brand,'Product_Description':Product_Description,'Price': Price})

In [16]:
df

            Brand                                Product_Description Price
0          Airson  Junior Zero1 Sports Sneakers for Men | Running...  ₹369
1       EZDEZARIO                                   Sneakers For Men  ₹449
2            aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...  ₹399
3           asian  Thunder-01 White Color Change Sneakers,Casuals...  ₹399
4          BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹249
..            ...                                                ...   ...
115         asian  Men's W-05 Casual White Sneaker Shoes With Wat...  ₹349
116           SFR                                   Sneakers For Men  ₹379
117           SFR                                   Sneakers For Men  ₹499
118  K- FOOTLANCE                                   Sneakers For Men  ₹429
119        BRUTON  Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...  ₹399

[120 rows x 3 columns]