In [26]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [27]:
#les first connecct to the driver
driver = webdriver.Chrome(r"C:\Users\LENOVO\Anacoda_python\chromedriver_win32\chromedriver.exe")

In [28]:
driver= webdriver.Chrome(r'chromedriver.exe')

In [29]:
driver.get('https://www.naukri.com/')

In [30]:
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('â€œData Scientist')

In [31]:
search= driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [32]:
location_filter = driver.find_element(By.XPATH, "//span[text()='Delhi / NCR']")
location_filter.click()

In [33]:
Salary_filter = driver.find_element(By.XPATH, "//span[text()='3-6 Lakhs']")
Salary_filter.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
salary_expected=[]

In [35]:
# scraping job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [36]:
# scraping job location from the give page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [37]:
# Scraping company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [38]:
# Scraping experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [39]:
# Scraping experience from the given page
salary_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    salary_expected.append(salary)

In [40]:
# Make DataFrame for scrape data into information
import pandas as pd
df=pd.DataFrame({"Title":job_title,'Company Name':company_name,'Location':job_location,'Experience Required': experience_required,'Salary Excepted':salary_expected})

In [41]:
df

,Title,Company Name,Location,Experience Required,Salary Excepted
0,Looking For Data Scientist (Finance Background...,Evalueserve,"Hybrid - Gurgaon/ Gurugram, Haryana",3-7 Yrs,Not disclosed
1,Data Scientist,Tata Consultancy Services (TCS),Delhi / NCR,7-12 Yrs,"50,000-3 Lacs PA"
2,Data scientist,Vertexplus Technologies,Noida,0-5 Yrs,Not disclosed
3,Data Scientist,Blackbuck,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-7 Yrs,Not disclosed
4,Data Scientist,Innovaccer,Noida,2-4 Yrs,Not disclosed
5,MLOps - Data Scientist,Paytm,Noida,3-8 Yrs,Not disclosed
6,Data Scientist,Analytos,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",2-4 Yrs,Not disclosed
7,Data Scientist,Splash Math App,Gurgaon/Gurugram,3-6 Yrs,Not disclosed
8,Data Scientist - I,Netomi,Gurgaon/Gurugram,3-6 Yrs,Not disclosed
9,Data Scientist,Gforce Consulting Solutions,"Kolkata, Pune, Gurgaon/Gurugram",3-8 Yrs,Not disclosed